@media(max-width:375px){
    body{
        background-color: hsl(233, 47%, 7%);
    }

    .row{
     
        display: flex;
        height: 750px;
        max-width: 325px;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom:0 ; 
        text-align: center;
        
      }
    #col1{
        margin-top: 250px;
        text-align: center;
    
      }

    #col2{
        position: absolute;
        background-color: purple;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }

    img{
        height: 260px;
        width: 325px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        opacity: 0.5;
    }

    
   

    #info{
        display: block;
        padding: 10px;
    }
}